

.PopularContainer {


  .Card {
      display: block;
      margin: 0 auto;
        margin-bottom: 30px;
      img {

      }
      h3 {
        font-size: 14px;

      }
      button {
        margin-top:15px;
      }
  }

}
